fastapi # project library
fastapi-jwt # Auth Tokens
authlib # JWT backend
#fastapi-mail # Mail Submission
mailtrap # Mail Submission API
bcrypt # Password salt
python-dotenv # load .env file
uvicorn # fastapi runtime
pymongo # Mongo+SRV support
dnspython # dns lookup
motor # Async Engine
beanie # Mongo ODM