fastapi # project library
fastapi-jwt # Auth Tokens
fastapi-analytics # apianalytics.dev
mailtrap # Mail Submission API
authlib # JWT backend
bcrypt # Password salt
python-dotenv # load .env file
uvicorn # fastapi runtime
pymongo # Mongo+SRV support
dnspython # dns lookup
motor # Async Engine
beanie # Mongo ODM